.dialogContainer {
  position: relative;
  /* width: 90%; */
  left: 5%;
  /* top: 45%; */
  /* transform: translateY(-50%); */
  border: solid 1px var(--border-color);
  border-radius: 10px;
  box-shadow: 4px 4px 8px black;
  background-color: var(--secondary-background);
  padding: var(--spacing-size);
  color: var(--primary-text);
  /* z-index: 3;
  opacity: 1; */
}
