.mainContainer {
  padding: var(--spacing-size);
  /* position: relative; */
}

@media (min-width: 800px) {
  .mainContainer {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    width: 75%;
  }
}