.signupContainer h1,
.signupContainer h2 {
  text-align: center;
}

.title {
  color: var(--primary-text);
  margin-bottom: 2rem;
}

.signupContainer label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-text);
}

.signupContainer {
  background-color: var(--secondary-background);
  padding: 2rem;
  border: solid 1px var(--border-color);
  border-radius: 10px;
  box-shadow: 4px 4px 8px black;
  /* max-width: 700px; */
  /* min-width: 800px; */
  margin: 1rem;
  /* min-width: 300px; */
  /* max-width: 500px;
  min-width: 300px; */
}

.signupContainer input {
  font-family: inherit;
  font-size: 1.25rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.signupContainer button {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-button-fg);
  background-color: var(--primary-button-bg);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;

  margin: auto;
  display: block;
}

.error {
  color: var(--warning-button-fg);
  background-color: rgba(255, 85, 85, 0.3);
  border-radius: 5px;
  /* font-weight: bold; */
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  border: dashed 3px var(--warning-button-border);
  padding: 2rem;
}
