.titleBar {
  background-color: var(--secondary-background);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: solid 1px var(--border-color);
}

.titleBarTitle {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.navList {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navLink {
  margin-right: 2rem;
}

.navLink a {
  color: var(--secondary-text);
}

.navLink button {
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 3px;
  border: solid 1px #aa92cc;
  background-color: var(--primary-button-bg);
  color: var(--primary-bg-color);
}
